.contact__content {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  width: fit-content;

  & > div:first-of-type {
    border-bottom: 1px solid $white;
  }

  .first, .second {
    padding-bottom: 2rem;
    display: flex;
    gap: 2rem;
  }

  .photo {
    max-width: 12rem;
  }
}
