.contact {
  background-image: url("/themes/custom/awesome/src/images/background-microphone.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.contact__content {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  width: fit-content;

  & > div:first-of-type {
    border-bottom: 1px solid $white;
  }

  .first, .second {
    padding-bottom: 2rem;
    display: flex;
    gap: 2rem;
  }

  .photo {
    max-width: 12rem;
  }
}
