.repertoar-overview {
  position: relative;
}

.repertoar-overview__content {
  position: absolute;
  top: 0;
  box-shadow: 0 0 27px 29px black;
  left: 50%;
  background-color: black;
  transform: translateX(-50%);

  h2 {
    text-align: center;
  }
}

@media only screen and #{$vd-screen-md-down} {
  .repertoar-overview__content {
    width: 100%;

    h2 {
      margin: 0;
    }
  }
}
