.two-col__content {
  display: grid;
  grid-template-columns: 60% 40%;

  .col {
    padding: 1rem;
  }

  .col:first-of-type {
    display: grid;
    place-items: baseline;

    p {
      border: 2px solid $white;
      border-radius: 20px;
      padding: 2rem;
      font-size: 2rem;
    }
  }

  .col:nth-child(2) {
    text-align: center;

    p {
      font-size: 2rem;
    }
  }
}
