.two-col-wrapper__content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 4rem;
  padding: 2rem;
}

@media only screen and #{$vd-screen-md-down} {
  .two-col-wrapper__content {
    grid-template-columns: 1fr;
  }
}
