.two-col__content {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1rem;
}

@media only screen and #{$vd-screen-md-down} {
  .two-col__content {
    grid-template-columns: 1fr;

    .col:first-of-type {
      gap: 4rem;
    }
  }
}
